/* advocate.css */


.advocate-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Display two cards in one row */
    gap: 35px; /* Add gap between cards */
  }


.advocateItem {
    max-width: 420px;
    height: 420px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.advocateItem:last-child {
    margin-right: 0;
    /* Remove right margin for the last card in a row */
}

.advocateItem:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    /* Increase the shadow on hover */
}

.advocateImg {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.featureTitles {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0 0 10px 10px;
}

.featureTitles h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #fff;
}

.featureTitles h2 {
    margin: 5px 0;
    font-size: 1rem;
    color: #fff;
}